<div class="footer bg-dark text-light">
	<div class="container">
		<div class="d-flex justify-content-between p-3">
			<div class="p-1">
				<div>
					<p class="fs-6">Employers</p><hr>
					<ul>
						<li><a href="{% url 'account:usersignup' %}">Register</a></li>
						<li><a href="{% url 'jobs:contactus' %}">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="p-1">
				<div>
					<p class="fs-6">Job Seekers</p><hr>
					<ul>
						<li><a href="{% url 'account:usersignup' %}">Register</a></li>
						<li><a href="{% url 'account:userlogin' %}">Login</a></li>
						<li><a href="{% url 'jobs:home' %}">Search for jobs</a></li>
					</ul>
				</div>
			</div>
			<div class="p-1">
				<div>
					<p class="fs-6">Links</p><hr>
					<ul>
						<li><a href="{% url 'jobs:home' %}">Jobs</a></li>
						<li><a href="{% url 'blog_post:articles' %}">Blog</a></li>
						<li><a href="{% url 'jobs:contactus' %}">Contact Us</a></li>
						<li><a href="{% url 'jobs:aboutus' %}">About Us</a></li>
					</ul>
				</div>
			</div>
			<div class="p-1">
				<div>
					<p class="fs-5">Sabai ko jobs</p><hr>
					<ul class="info">
						<li><a href="#">Sabai ko jobs</a></li>
						<li><a href="#">Address</a></li>
						<li><a href="#">Phone no</a></li>
						<li><a href="#">info@sabaikojobs.com</a></li>
						<li>
							<div class="d-flex flex-row mb-3">
								<a href="#"><i class="fa-brands fa-facebook"></i></a>
								<a href="#"><i class="fa-brands fa-instagram"></i></a>
								<a href="#"><i class="fa-brands fa-youtube"></i></a>
								<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>