{% extends 'base.html' %}
{% block title %}
	<title>about sabai ko jobs</title>
{% endblock %}
{% block content %}

<div class="jumbotron p-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="fs-4">{{title}}</p>
				<p>{{first_para}}</p>
				<p>{{second_para}}</p>
				<p>{{third_para}}</p>
			</div>
			<div class="col-md-6">
				<img class="rounded float-start" src="https://imgs.search.brave.com/WfVQr0FKsyl5IrNAREg_qHRk6lA3n71cKlHR-aLrGXI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE2/ODI2ODY1ODAwMzYt/YjVlMjU5MzJjZTlh/P2l4bGliPXJiLTQu/MC4zJml4aWQ9TTN3/eE1qQTNmREY4TUh4/bFpHbDBiM0pwWVd3/dFptVmxaSHd4TVh4/OGZHVnVmREI4Zkh4/OGZBPT0mdz0xMDAw/JnE9ODA.jpeg">
			</div>
		</div>
	</div>
</div><br><hr><br>


<div>
	<div>
		<p class="fs-1 text-center">Our Services</p>
	</div>
	<div class="d-flex justify-content-evenly p-3">
		<div class="p-2">
			<div class="card" style="width: 18rem;">
				<img src="https://imgs.search.brave.com/2tmU73vRdm948UX-j_n0TVIp_FHf0AFpVxkDeKoEOVw/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTI5/NzE1OTM2NS9waG90/by9wb3J0cmFpdC1v/Zi15b3VuZy1zbWls/aW5nLXdvbWFuLWZh/Y2UtcGFydGlhbGx5/LWNvdmVyZWQtd2l0/aC1mbHlpbmctaGFp/ci1pbi13aW5keS1k/YXktc3RhbmRpbmcu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PUkxNmNfWnpRSEVl/R29QVVZyVlA5cFB1/c1N6c215bXZWS2RR/VmdQdVZkRG89" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="p-2">
			<div class="card" style="width: 18rem;">
				<img src="https://imgs.search.brave.com/xcMamq9GcTlalrRvqnRR8Oc6bJNBF1ZyCVs892xYQ4Y/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAyMy8w/OC8yMC8xNS8wMy9m/bG93ZXJzLTgyMDI1/MzhfNjQwLmpwZw" alt="...">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="p-2">
			<div class="card" style="width: 18rem;">
				<img src="https://imgs.search.brave.com/j6_YF7-88KtWWDZDnKpICTJAgSwpwB2iw7fPx1LA83U/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTA2/ODU2NjU4L3Bob3Rv/L2JlYXV0aWZ1bC1u/YXR1cmUtYXQtbW9y/bmluZy1pbi1taXN0/eS1zcHJpbmctZm9y/ZXN0LXdpdGgtc3Vu/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz01T3lLM2RvVTBI/NE9HSHVlTjFDb2Ey/cjlkZWlXeWx5X3NK/UlNkZGdSblJVPQ" alt="...">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="p-2">
			<div class="card" style="width: 18rem;">
				<img src="https://imgs.search.brave.com/99m3ILzJDc0zktpcxxXqwDAUPNBfXSEAGZ-HNgv5tG4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by93/aWRlLWFuZ2xlLXNo/b3Qtc2luZ2xlLXRy/ZWUtZ3Jvd2luZy1j/bG91ZGVkLXNreS1k/dXJpbmctc3Vuc2V0/LXN1cnJvdW5kZWQt/YnktZ3Jhc3NfMTgx/NjI0LTIyODA3Lmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="...">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}