{% extends 'base.html' %}
{% block title %}
	<title>Contact sabai ko job</title>
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid p-4">
  <div class="container">
    <h1 class="display-5">Contact Us</h1>
  </div>
</div><br>


<div class="container">
	<div class="row">
		<div class="col">
			<div class="card p-4">
				<p>{{contact_Texts}}</p>
				<ul>
					{% for note in notes %}
						<li>{{note}}</li>
					{% endfor %}
				</ul>
				<p>{{contact_calls}}</p>
			</div>
		</div>
		<!-- <div class="col">
			<div class="card p-4">
				<p class="fs-4">Get in touch with us</p>
				<form method="post">
					{% csrf_token %}
					<table style="width:100%">
						<tr>
							<td style="width:10%"><label>Name</label></td>
							<td><input type="text-success" name="name" class="form-control"></td>
						</tr>
						<tr>
							<td><label>Email</label></td>
							<td><input type="Email" name="name" class="form-control"></td>
						</tr>
						<tr>
							<td><label>Mobile</label></td>
							<td><input type="text" name="name" class="form-control"></td>
						</tr>
						<tr>
							<td><label>Message</label></td>
							<td><textarea class="form-control"></textarea></td>
						</tr>
						<tr>
							<td><label></label></td>
							<td><input type="submit" name="submit" class="btn btn-primary"></td>
						</tr>
					</table>
				</form>
			</div> -->
		</div>
	</div><br>
	<div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3534.2014436905542!2d85.30139721140087!3d27.649238576116794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb178577d54fdd%3A0xbb17e7ca94e976e3!2sAwash%20Marga%2C%20Karyabinayak!5e0!3m2!1sen!2snp!4v1698866273241!5m2!1sen!2snp" width="1295" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

		<!-- {% for contactimage in contactimagemap %}
			{% if contactimage.image %}
				<img src="{{ contactimage.image.url }}" alt="contactus map" width="1271">
			{% endif %}
		{% endfor %} -->
	</div>
</div>
{% endblock %}