{% extends 'base.html' %}
{% block content %}

<style>
	#show_password_id{
		cursor:pointer;
	}
</style>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
	<div class="col-md-auto">
		<br><br><br><br>
	    <div class="card p-4">
			<form method="post">
				{% csrf_token %}
				<h3 style="text-align: center;">Login</h3><hr>
			  <div class="mb-3">
			    <label class="form-label">Username</label>
			    <input type="text-success" class="form-control" name="username">
			  </div>
			  <div class="mb-3">
			    <label class="form-label">Password</label>
			    <input type="password" class="form-control" id="show_password" name="password">
				<u><span onclick="show_password_function()" id="show_password_id">show</span></u>
			  </div>
			  <button type="submit" class="btn btn-primary">Login</button><br>
			  <a href="{% url 'account:reset_password' %}">forgot password?</a><br>
			  <p>don't have account, let's dive in <a href="{% url 'account:usersignup' %}">Register</a></p>
			</form>
		</div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<script>
	let show_password = false;
	function show_password_function(){
		if(show_password){
			document.getElementById('show_password').setAttribute('type','password');
			document.getElementById('show_password_id').textContent = document.getElementById('show_password_id').textContent = 'show';
			show_password = false;
		}else{
			document.getElementById('show_password').setAttribute('type','text');
			document.getElementById('show_password_id').textContent = document.getElementById('show_password_id').textContent = 'hide';
			show_password = true;
		}
	}
</script>

{% endblock %}