{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
{% endif %}
{% if form %}
<div>
    <div>
        {% if profile.avatar %}
            <img src="{{profile.avatar.url}}" class="rounded mx-auto d-block p-2" alt="profile image" width="400" height="200">
            <!-- <img src="" width="500" height="300" alt="profile image"> -->
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" name="submit" class="btn btn-info"/>
        <a href="{% url 'account:reset_password' %}" class="btn btn-info">reset password</a>
    </form>
    <br>
    <div class="list-group">
        <h3 class="disabled text-center border">Created jobs</h3>
        {% for i in create_jobs %}
            <li class="list-group-item list-group-item-secondary list-group-item-action justify-content-between d-flex"><p><b>{{i.job_title}}</b> -{{i.company_name}}</p> <a href="{% url 'jobs:detail' i.id %}">see more</a></li>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}